pycodestyle
pylint

# pyqt5

requests

psycopg2
mysql-connector-python		# do not use mysql-connector
configparser

whitenoise


# SERVER

# Flask
# flask_sqlalchemy
django
django-debug-toolbar
django-extensions
dj-database-url
gunicorn

pytest
pytest-cov
coverage


# TOOLS
pillow
pydotplus
