pycodestyle
pylint

pyqt5

requests

psycopg2
mysql-connector-python		# do not use mysql-connector
configparser

# Flask
# flask_sqlalchemy
django
django-debug-toolbar
gunicorn

pytest
pytest-cov
coverage



