{% extends 'product/base.html' %} {% block content %}

<h1>Se connecter</h1>

{% if error %}
<p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
{% endif %}

{% if user.is_authenticated %}
Vous êtes connecté, {{ user.username }} !
{% else %}
<form method="post" action="{% url 'account:signin' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Se connecter" />
</form>
{% endif %}


<div class="col-md-6">

    <ul>
        <li>Go to <a href="{% url 'product:home' %}">Home</a></li>
        <li>Go to <a href="{% url 'product:home' %}">Home</a></li>
    </ul>

    <h2 class="text-center artist_name">Artistes</h2>

    <p style="margin-bottom: 20px;">Some text ! </p>

    <form class="form-inline" action="{% url 'product:home' %}" method="post">
        {% csrf_token %}

        <div class="form-group">
            <!-- {{ form_home.query }} -->
            <button type="submit" class="btn btn-success">Recherche</button>
        </div>
        <!-- <input type="hidden" class="hidden" value="{{ album_id }}" name="album_id"> -->
    </form>

</div>

{% endblock %}