{% extends 'product/base.html' %} {% block content %}

<p>
    Je me suis faufilé dans le gabarit parent. Salut !
    <ul>
        {% for contact in contact_lst %}
        <li>
            <a href="{% url 'product:info' _product_id=forloop.counter %}">{{ contact }}</a></li>
        <!-- <img class="img-responsive" src="{{ album.picture }}" alt="{{ album.title }}"> -->
        {% endfor %}
    </ul>



    <div class="col-md-6">
        <div style="margin-bottom:45px">
            <h2 class="text-center artist_name">Artistes</h2>
            <!-- <p>{{ artists_name }}</p> -->
        </div>

        <!-- <h2 class="text-center artist_name">Réserver {{ album_title }}</h2> -->
        <p style="margin-bottom: 20px;">Demandez-nous de mettre de côté {{ album_title }} et venez le chercher dès demain en magasin ! </p>

        <!-- album_id=album_id -->
        <form class="form-inline" action="{% url 'product:home' %}" method="get">
            {% csrf_token %}

            <div class="form-group">
                <!-- {{ form_home.query }} -->
                <button type="submit" class="btn btn-success">Recherche</button>
            </div>
            <!-- <input type="hidden" class="hidden" value="{{ album_id }}" name="album_id"> -->
        </form>

        <!-- {% if errors %}
        <div>
            {% for key, error in errors %} {% autoescape off %} {{ error }} {% endautoescape %} {% endfor %}
        </div>
        {% endif %} -->

    </div>



</p>
{% endblock %}