{% extends 'product/base.html' %}
{% block content %}

{% if page == 'result' %}
  {% if query and product_data %}
    <h2>[{{ query }} - {{ product_data.code }} - {{ product_data.brands }} - {{ product_data.name }}]</h2>
    <h3>[{{product_data.nutrition_grades}} - {{product_data.nova_group}} - {{product_data.unique_scans_n}}]</h3>
    {% if product_data.image_url %}
      <p><img src={{ product_data.image_url }} alt=""></p>
    {% endif %}
    <h6>[{{ product_data.image_url }}] </h6>

    <ul>
        {% for category in product_data.categories_hierarchy %}
        <li>{{ category }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for category in product_data.categories_tags %}
            <li>{{ category }}</li>
        {% endfor %}
    </ul>
    {% if product_data.compared_to_category %}
      <h6>[{{ product_data.compared_to_category }}] </h6>
    {% endif %}

    {% include 'product/result.html' with list_title='Result Content' %}
    
  {% else %}
    <h2>[No product found for {{ query }}]</h2>
  {% endif %}

{% elif page == 'favorite'%}
    {% include 'product/favorite.html' with list_title='Favorite Content' %}
{% else %}
    {% include 'product/result.html' with list_title='Unknown Content' %}
{% endif %}

    <form>
        <div class="form-group  {% if form.name.errors %}has-warning has-feedback{% endif %}">
            <p>Salut l'artist</p>
        </div>
    </form>

    {% if errors %}
    <div>
        {% for key, error in errors %} {% autoescape off %} {{ error }} {% endautoescape %} {% endfor %}
    </div>
    {% endif %}

    {% if alternative_lst|length_is:"0" %}
    <div class="text-center">
        Palsambleu ! Nous n'avons trouvé aucun résultat à cette requête. Même pas de quoi se ronger la chique ! Partez de nouveau à l'abordage !
    </div>
    {% else %}
        {% for alternative in alternative_lst %}
            <div>
                <h2>[{{ alternative.code }} - {{ alternative.brands }} - {{ alternative.name }}]</h2>
                <h3>[{{alternative.nutrition_grades}} - {{alternative.nova_group}} - {{alternative.unique_scans_n}}]</h3>
                {% if alternative.image_url %}
                <p><img src={{ alternative.image_url }} alt=""></p>
                {% endif %}
                {% if alternative.compared_to_category %}
                <h6>[{{ alternative.compared_to_category }}] </h6>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}