{% extends 'product/base.html' %}

{% load static %}

{% if page == 'result' %}
{% block mastead %}
<!-- Masthead -->
<header class="masthead masthead_list">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <h2 class="text-uppercase text-white font-weight-bold">Recherche : {{ query }}</h2>
        <hr class="divider my-4">
      </div>
      <div class="col-lg-8 col-md-6 align-self-baseline text-center">
        <div class="mt-5">
            {% comment %} <!-- <p class="text-white-75 font-weight-light mb-5">Start Bootstrap can help you build better websites using the Bootstrap framework! Just download a theme and start customizing, no strings attached!</p> --> {% endcomment %}
            {% comment %} <!-- <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a> --> {% endcomment %}
          <h4 class="h4 mb-2">
            {% if product_target.nutrition_grades == 'a' %}<img class="img-fluid" src="{% static 'product/img/nutriscore-a.svg' %}" alt="{{ product_target.nutrition_grades }}">
            {% elif product_target.nutrition_grades == 'b' %}<img class="img-fluid" src="{% static 'product/img/nutriscore-b.svg' %}" alt="{{ product_target.nutrition_grades }}">
            {% elif product_target.nutrition_grades == 'c' %}<img class="img-fluid" src="{% static 'product/img/nutriscore-c.svg' %}" alt="{{ product_target.nutrition_grades }}">
            {% elif product_target.nutrition_grades == 'd' %}<img class="img-fluid" src="{% static 'product/img/nutriscore-d.svg' %}" alt="{{ product_target.nutrition_grades }}">
            {% elif product_target.nutrition_grades == 'e' %}<img class="img-fluid" src="{% static 'product/img/nutriscore-e.svg' %}" alt="{{ product_target.nutrition_grades }}">
            {% else %}<i class="fas fa-2x fa-globe text-primary mb-4"></i>
            {% endif %}
            
            {% if product_target.nova_group == 1 %}<img class="img-fluid" src="{% static 'product/img/nova-group-1.svg' %}" alt="{{ product_target.nova_group }}">
            {% elif product_target.nova_group == 2 %}<img class="img-fluid" src="{% static 'product/img/nova-group-2.svg' %}" alt="{{ product_target.nova_group }}">
            {% elif product_target.nova_group == 3 %}<img class="img-fluid" src="{% static 'product/img/nova-group-3.svg' %}" alt="{{ product_target.nova_group }}">
            {% elif product_target.nova_group == 4 %}<img class="img-fluid" src="{% static 'product/img/nova-group-4.svg' %}" alt="{{ product_target.nova_group }}">
            {% else %}<i class="fas fa-2x fa-globe text-primary mb-4"></i>                        
            {% endif %}
              {% comment %} - {{ product_target.unique_scans_n }} {% endcomment %}
          </h4>
          {% if product_target.image_url %}
          <p>
            <a class="portfolio-box" href="{% url 'product:product' product_target.code page product_target.code query %}">
              <img class="img-fluid" src={{ product_target.image_url }} alt="">
            </a>
          </p>
          {% else %}
          <i class="fas fa-4x fa-globe text-primary mb-4"></i>
          {% endif %}
          <h5 class="h5 mb-2">
          {% if user.is_authenticated %}
            <a id={{ product_target.code }} href="javascript:;" data-state="{% if product_target in favorite_lst %}false{% else %}true{% endif %}" onclick="set_favorite(this.id, this.getAttribute('data-state'))">
                {% if product_target in favorite_lst %}
                <i class="fas fa-1x fa-heart mb-4"></i>    {% comment %} fa-star {% endcomment %}
                {% else %}
                <i class="far fa-1x fa-heart mb-4"></i>
                {% endif %}
            </a>
            - 
          {% endif %}
          {% comment %} #{{ product_target.code }} -  {% endcomment %}
          {{ product_target.brands }}<br>{{ product_target.name }}
          </h5>
          {% comment %} <h6 class="h6 mb-2">[ {{ product_target.zcategory_product_set.hierarchy_index.0 }} ]</h6> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</header> 
{% endblock %}

{% elif page == 'favorite' %}

{% block masthead_title %}
<div class="col-lg-10 align-self-end">
  <h2 class="text-uppercase text-white font-weight-bold">Mes aliments</h2>
</div>  
{% endblock %}

{% endif %}

{% block content %}

{% if page == 'result' %}

  {% if query and product_target %}

  {% comment %}
  <ul>
    {% for category in product_target.categories.all %}
    <li>{{ category }}</li>
    {% endfor %}
  </ul>
  <p>Favorite</p>
  <ul>
    {% for favorite in favorite_lst %}
    <li>{{ favorite.code }} - {{ favorite.brands }} - {{ favorite.name }}</li>
    {% endfor %}
  </ul>
  {% endcomment %}

  {% comment %}
  <ul>
    {% for category in product_target.categories_tags %}
    <li>{{ category }}</li>
    {% endfor %}
  </ul>
  {% endcomment %}

  {% comment %}
  {% if product_target.compared_to_category %}
  <h6>[{{ product_target.compared_to_category }}]</h6>
  {% endif %}
  {% endcomment %}

  {% include 'product/result.html' with list_title='Produits de substitution' %}

  {% else %}
  <h2>Aucun produit de substitution trouvé pour "{{ query }}"</h2>
  {% endif %}

{% elif page == 'favorite' %}
{% include 'product/favorite.html' with list_title='Produits favoris' %}
{% else %}
{% include 'product/result.html' with list_title='Unknown Content' %}
{% endif %}

{% if errors %}
<div>
  {% for key, error in errors %}
  {% autoescape off %} {{ error }} {% endautoescape %}
  {% endfor %}
</div>
{% endif %}

<!-- List Section -->
<section id="product_section" class="page-section">
  <div class="container">

    {% if product_lst|length_is:"0" %}
    <h2 class="text-center mt-0">Nous n'avons trouvé aucun résultat à cette requête. Veuillez saisir une nouvelle.</h2>
    <hr class="divider my-4">
    <p class="text-muted text-center mb-0">Some BlaBlaBla.</p>

    {% else %}
    <div class="row">
      {% for product in product_lst %}
      <div class="col-lg-4 col-md-6 text-center">
        <div class="mt-5">
          <h4 class="h4 mb-2">
            {% if product.nutrition_grades == 'a' %}<img class="img-fluid" src="{% static 'product/img/nutriscore-a.svg' %}" alt="">
            {% elif product.nutrition_grades == 'b' %}<img class="img-fluid" src="{% static 'product/img/nutriscore-b.svg' %}" alt="">
            {% elif product.nutrition_grades == 'c' %}<img class="img-fluid" src="{% static 'product/img/nutriscore-c.svg' %}" alt="">
            {% elif product.nutrition_grades == 'd' %}<img class="img-fluid" src="{% static 'product/img/nutriscore-d.svg' %}" alt="">
            {% elif product.nutrition_grades == 'e' %}<img class="img-fluid" src="{% static 'product/img/nutriscore-e.svg' %}" alt="">
            {% else %}<i class="fas fa-2x fa-globe text-primary mb-4"></i>
            {% endif %}
            
            {% if product.nova_group == 1 %}<img class="img-fluid" src="{% static 'product/img/nova-group-1.svg' %}" alt="">
            {% elif product.nova_group == 2 %}<img class="img-fluid" src="{% static 'product/img/nova-group-2.svg' %}" alt="">
            {% elif product.nova_group == 3 %}<img class="img-fluid" src="{% static 'product/img/nova-group-3.svg' %}" alt="">
            {% elif product.nova_group == 4 %}<img class="img-fluid" src="{% static 'product/img/nova-group-4.svg' %}" alt="">
            {% else %}<i class="fas fa-2x fa-globe text-primary mb-4"></i>
            {% endif %}
              {% comment %} - {{ product.unique_scans_n }} {% endcomment %}
          </h4>
          {% if product.image_url %}
          <p>
            {% if page == 'result' %}
            <a class="portfolio-box" href="{% url 'product:product' product.code page product_target.code query %}">
            {% else %}
            <a class="portfolio-box" href="{% url 'product:product' product.code page %}">
            {% endif %}
              <img class="img-fluid" src="{{ product.image_url }}" alt="">
            </a>
          </p>
          {% else %}
          <i class="fas fa-4x fa-globe text-primary mb-4"></i>
          {% endif %}
          <h5 class="h5 mb-2">
            {% if user.is_authenticated %}
            <a id={{ product.code }} href="javascript:;" data-state="{% if product in favorite_lst %}false{% else %}true{% endif %}" onclick="set_favorite(this.id, this.getAttribute('data-state'))">
                {% if product in favorite_lst %}
                <i class="fas fa-1x fa-heart mb-4"></i>    {% comment %} fa-star {% endcomment %}
                {% else %}
                <i class="far fa-1x fa-heart mb-4"></i>
                {% endif %}
            </a>
            - 
            {% endif %}
          {% comment %} #{{ product.code }} -  {% endcomment %}
          {{ product.brands }}<br>{{ product.name }}
          </h5>
          {% comment %} <h6 class="h6 mb-2">[ {{ product.zcategory_product_set.hierarchy_index.0 }} ]</h6> {% endcomment %}
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>

<script>
    var parse_favorite_url = "{% url 'product:parse_favorite' %}"
</script>
<script src="{% static 'product/js/zajax.js' %}"></script>
<script src="{% static 'product/js/zproduct.js' %}"></script>

{% endblock %}