{% extends 'product/base.html' %} {% block content %}

<h1>Mentions Légales</h1>
<div>
    <ul>
        <li>Icônes <a href="https://thenounproject.com/FabienJ/uploads/?i=29691" target="_blank" rel="noopener noreferrer">Carrot</a> par Fabien Jouin de the Noun Project</li>
        <li>Icônes générales et de Colette et Remy par IconMoon</li>
    </ul>
    <p>Icônes <a href="https://thenounproject.com/FabienJ/uploads/?i=29691" target="_blank" rel="noopener noreferrer">Carrot</a> par Fabien Jouin de the Noun Project</p>
    <p>Icônes générales et de Colette et Remy par IconMoon</p>

    <p>Retour à l'<a href="{% url 'product:home' %}">accueil</a></p>


</div>

{% endblock %}