{% extends 'product/base.html' %}

{% block masthead_title %}
<div class="col-lg-10 align-self-end">
  <h1 class="text-uppercase text-white font-weight-bold">Mentions Légales</h1>
</div>
{% endblock %}

{% block content %}

  <section id="notice_section_id" class="page-section">
    <div class="container">
      {% comment %} <ul>
          <li class="text-muted text-center mb-0">Icônes <a href="https://thenounproject.com/FabienJ/uploads/?i=29691" target="_blank" rel="noopener noreferrer">Carrot</a> par Fabien Jouin de the Noun Project</li>
          <li class="text-muted text-center mb-0">Icônes générales et de Colette et Remy par IconMoon</li>
      </ul> {% endcomment %}
      <p class="text-muted text-center mb-0">Thème <a href="https://startbootstrap.com/themes/creative" target="_blank" rel="noopener noreferrer">Creative</a>
      créé par <a href="https://startbootstrap.com" target="_blank" rel="noopener noreferrer">Start Bootstrap</a></p>
      <p class="text-muted text-center mb-0">Icônes issues de <a href="https://fontawesome.com" target="_blank" rel="noopener noreferrer">Font Awesome</a></p>
      {% comment %} <p class="text-muted text-center mb-0">Icône <a href="https://thenounproject.com/FabienJ/uploads/?i=29691" target="_blank" rel="noopener noreferrer">Carrot</a> par Fabien Jouin de the Noun Project</p> {% endcomment %}
      <p class="text-muted text-center mb-0">Icônes générales et de Colette et Remy par IconMoon</p>
      <p class="text-muted text-center mb-0">Images des personnages issues du film d'animation <a href="https://www.pixar.com/feature-films/ratatouille" target="_blank" rel="noopener noreferrer">Ratatouille</a>
      des studios <a href="https://www.pixar.com" target="_blank" rel="noopener noreferrer">Pixar</a></p>
      <p class="text-muted text-center mb-0"><a href="https://unsplash.com/photos/k60JspcBwKE" target="_blank" rel="noopener noreferrer">Image</a> de couverture issue
      du site <a href="https://unsplash.com" target="_blank" rel="noopener noreferrer">Unsplash</a></p>
      <p class="text-muted text-center mb-0"><a href="https://world.openfoodfacts.org" target="_blank" rel="noopener noreferrer">Open Food Facts</a> est la source exclusive des données,
      tout ajout sera partagé sous licence <a href="https://fr.wikipedia.org/wiki/Open_Database_License" target="_blank" rel="noopener noreferrer">OdBL</a></p>
      {% comment %} <p class="text-muted text-center mb-0"><a href="https://world.openfoodfacts.org" target="_blank" rel="noopener noreferrer">Open Food Facts</a> is the exclusive source of the data, any additions will be shared and back to the community under the OdBL licence</p> {% endcomment %}
      <p class="text-muted text-center mb-0">Site hébergé par <a href="https://www.heroku.com" target="_blank" rel="noopener noreferrer">Heroku</a></p>
      <hr class="divider my-4">
      {% comment %} <p class="text-muted text-center mb-0">Retour à l'<a href="{% url 'product:home' %}">accueil</a></p> {% endcomment %}
      <p class="text-muted mb-0">Retour à l'<a href="{% url 'product:home' %}">accueil</a></p>
    </div>
  </section>

<div>


</div>

{% endblock %}